#title-banner {
  color: var(--color-primary);
}

.link-banner-active {
  color: rgb(187, 187, 187);
}

.banner-area {
  padding: 0;
  margin-top: 40px;
}

.banner {
  height: 100dvh; /* antes: 100vh */
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .banner-area {
    padding: 60px 0 80px 0;
    text-align: center;
  }

  #title-banner {
    font-size: 40px;
  }

  .breadcrumb-banner {
    justify-content: center !important;
  }

  .col-first {
    width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  #title-banner {
    font-size: 28px;
  }

  .link-banner {
    display: block;
    margin-bottom: 5px;
  }

}